*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Galano Grotesque", sans-serif;
  max-width: 1440px;
  max-width: 100vw;
  height: 4242px;
  background: #fdffff;
}
/* html {
  scroll-behavior: auto;
  
} */
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
}
:root {
  --Primary-Sea-Blue: #4d6ee4;
  --Secondary-Green: #46e6a3;
  --Secondary-Sky-Blue: #46c2e6;
  --Secondary-Pale-Green: #dff6e4;
  --Input-Background: #fff;
  --Input-Background-Focus: #e6f7ff;
  --Primary-Night-Blue: #2e279d;
}
button {
  outline: none;
  border: none;
  cursor: pointer;
}
.headings {
  color: #252525;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 31.2px */
}
nav {
  width: 100vw;
  height: 84px;
  flex-shrink: 0;
  background: #f4fcfe;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;

  .first-logo {
    position: relative;
    display: flex; /* Ensure it only takes as much width as needed */

    .logo {
      background: #000;
      width: 95px;
      height: 84px;
      margin-right: 20px;
    }

    .inner-logo {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(
        -75%,
        -50%
      ); /* Center the inner-logo within the first-logo */
    }
  }
  .second-logo {
    width: 169px;
    height: 47px;
    flex-shrink: 0;
    border-radius: 11px;
    margin-right: 80px; /* Adjusted margin-right for spacing */

    @media (max-width: 768px) {
      display: none;
    }
  }
  .second-logo-mobile {
    display: none;

    @media (max-width: 768px) {
      display: flex;
      margin-right: 20px;
    }
    @media (max-width: 500px) {
      display: none;
    }
  }
  @media (max-width: 500px) {
    #menu {
      display: flex !important;
      margin-right: 20px;
      width: 24px;
      font-size: 25px;
    }
  }

  .nav-heading {
    color: #252525;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; /* 31.2px */
    margin-right: auto; /* This ensures the heading takes up the remaining space */
    white-space: nowrap; /* Prevent the text from wrapping */

    @media (max-width: 768px) {
      font-size: 16px;
    }
  }
}
/* -------End of Navbar ------- */

main {
  display: flex;
  margin-top: 55px;
  gap: 0px;
  position: relative;

  @media (max-width: 1024px) {
    flex-direction: column;
  }
  @media (max-width: 500px) {
    flex-direction: row;
  }

  .sidebar {
    margin-left: 164px;
    position: sticky;
    width: 280px;
    left: 0;
    top: 84px;
    display: flex;
    flex-direction: column;
    gap: 66px;
    height: calc(100vh - 84px);
    z-index: 500;
    overflow-y: auto;

    @media (max-width: 1024px) {
      flex-direction: row;
      width: 100%;
      top: 84px;
      height: fit-content;
      align-items: center;
      left: 0;
      margin-left: 0px;
      position: fixed;
      padding-top: 30px;
      padding-bottom: 30px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
    @media (max-width: 500px) {
      width: 200px;
      left: 0;
      background: rgba(0, 0, 0, 0.8);
      top: 84px;
      display: none;
      flex-direction: column;
      gap: 66px;
      height: calc(100vh - 84px);
      z-index: 500;
      overflow-y: auto;

      &.show {
        display: flex;
      }
    }

    .sidebar a {
      text-wrap: nowrap;
      width: fit-content;
      img {
        width: 30px;
        height: 30px;
        flex-shrink: 0;
        align-self: flex-end;
      }
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: 20px;
      align-items: flex-start;

      @media (max-width: 500px) {
        display: flex;
        flex-direction: column !important;
        margin-bottom: 20px;
        align-items: flex-start;
      }

      @media (max-width: 1024px) {
        flex-direction: row;
      }
      a {
        text-decoration: none;
        color: rgba(37, 37, 37, 0.3);
        text-align: right;
        font-size: 17px;
        font-weight: 700;
        line-height: 130%; /* 22.1px */

        @media (max-width: 768px) {
          font-size: 14px;
          color: var(--Neutral-Grey, #aaa);
        }

        li {
          list-style: none;

          &.active {
            color: var(--Primary-Sea-Blue);
            text-align: right;
            font-size: 17px;
            font-style: normal;
            font-weight: 700;
            line-height: 130%;

            @media (max-width: 768px) {
              font-size: 14px;
            }
          }
        }
      }
    }
  }

  .main-content {
    margin-left: 80px;
    display: flex;
    flex-direction: column;

    @media (max-width: 500px) {
      position: absolute;
      right: 0px;
      align-items: center;
      justify-content: center;
      width: 100vw;
    }

    /* -------personal section start ---------  */

    #personal-section {
      margin-top: 100px;

      @media (max-width: 500px) {
        margin-top: 0;
      }
      .personal-heading {
        color: #252525;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 130%; /* 31.2px */

        @media (max-width: 500px) {
          margin-bottom: 40px;
        }
      }
      img {
        width: 182px;
        height: 182px;
        flex-shrink: 0;
        border-radius: 50%;
        margin-bottom: 40px;
      }
      .personal-container {
        display: flex;
        flex-direction: column;
        gap: 43px;

        .personal-left-column {
          width: fit-content;
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 23px 96px;

          @media (max-width: 500px) {
            grid-template-columns: 1fr;
          }
          div {
            h2 {
              color: #252525;
              font-size: 10px;
              font-style: normal;
              font-weight: 700;
              line-height: normal;
            }
            p {
              color: #252525;
              font-size: 14px;
              font-style: normal;
              font-weight: 700;
              line-height: normal;
            }
          }
        }
        button {
          width: 119px;
          height: 40px;
          flex-shrink: 0;
          border-radius: 8px;
          background: var(--Primary-Sea-Blue, #4d6ee4);
          color: #fff;
          text-align: center;
          font-size: 14px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          margin-bottom: 100px;
        }
      }
    }

    /* -------business section start ---------  */

    #business-section {
      .business-heading {
        margin-bottom: 40px;
        color: #252525;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 130%; /* 31.2px */
      }
      img {
        margin-bottom: 40px;
        width: 182px;
        height: 182px;
        flex-shrink: 0;
        border-radius: 50%;

        #business-profile-image {
          width: 182px;
          height: 182px;
          flex-shrink: 0;
          border-radius: 50%;

          object-fit: cover; /* Ensures the image covers the area without distortion */
          display: block; /* Ensures it respects block layout */
        }
      }
      .business-container {
        .business-column {
          width: fit-content;
          display: grid;
          grid-template-columns: 1fr 1fr;
          row-gap: 23px;
          column-gap: 110px;

          @media (max-width: 500px) {
            display: flex;
            flex-direction: column;
            gap: 23px;
          }
          .grid-item {
            h2 {
              color: #252525;
              font-size: 10px;
              font-style: normal;
              font-weight: 800;
              line-height: normal;
            }
            p {
              color: #252525;
              font-size: 14px;
              font-style: normal;
              font-weight: 700;
              line-height: normal;
            }
            &:nth-child(5) {
              grid-column: 1/3;
            }
          }

          button {
            width: 114px;
            height: 40px;
            flex-shrink: 0;
            border-radius: 8px;
            background: var(--Primary-Sea-Blue);
            color: #fff;
            text-align: center;
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            margin-top: 20px;
            margin-bottom: 110px;
          }
        }
      }
    }

    /* -------subscription section start ---------  */

    #subscription-section {
      padding-right: 50px;
      width: 70vw;
      @media (max-width: 500px) {
        width: 100vw;
      }
      .subscription-title {
        color: #252525;
        font-size: 24px;
        font-style: normal;
        margin-bottom: 24px;
        font-weight: 700;
        line-height: 130%; /* 31.2px */

        @media (max-width: 500px) {
          text-align: center;
          font-size: 20px;
        }
      }
      .subscription {
        width: 100%;
        flex-shrink: 0;
        border-radius: 8px;
        border: 1px solid rgba(112, 112, 112, 0.1);
        background: #fff;
        padding: 21px 25px 27px 31px;
        @media (max-width: 500px) {
          width: 100%;
          border-radius: 0;
          display: flex;
          flex-direction: column;
          margin-left: 30px;
        }

        .subscription-heading {
          display: flex;
          gap: 16px;
          align-items: center;
          p {
            color: #252525;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
          }
        }
        .subscription-progress {
          progress {
            width: 100%;
            height: 8px;
            border-radius: 2px;
            background: var(--Secondary-Green);
            border: none; /* Remove default border */
          }
          /* Chrome, Safari, and Opera */
          progress::-webkit-progress-bar {
            background-color: #e0e0e0;
            border-radius: 2px; /* Remove rounded corners */
          }

          progress::-webkit-progress-value {
            background-color: var(--Secondary-Green);
            border-radius: 2px; /* Remove rounded corners */
          }
          /* For Internet Explorer */
          progress {
            background-color: #e0e0e0;
            color: #4caf50; /* Color of the progress value */
          }

          /* Firefox */
          progress::-moz-progress-bar {
            background-color: var(--Secondary-Green);
            border-radius: 2px; /* Remove rounded corners */
          }
        }

        .subscription-amount {
          display: flex;
          justify-content: space-between;
          align-items: center;

          button {
            width: 125px;
            height: 40px;
            flex-shrink: 0;
            border-radius: 8px;
            background: var(--Primary-Sea-Blue);
            color: #fff;
            text-align: center;
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
          }
          img {
            height: 108px;
            width: 185px;
          }

          @media (max-width: 768px) {
            img {
              width: 80px;
              height: 80px;
            }
            button {
              width: 100px;
              font-size: 12px;
            }
          }
        }
        .subscription-date {
          display: flex;
          justify-content: space-between;
          margin-top: 15px;

          .period {
            color: #252525;
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: 150%; /* 21px */
          }
          .date {
            color: #252525;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%; /* 21px */
          }
        }
      }
    }

    /* -------notification section start ---------  */

    #notification-section {
      margin-top: 123px;
      max-width: fit-content;
      margin-right: 50px;

      .notification-title {
        color: #252525;
        font-size: 24px;
        margin-bottom: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 130%; /* 31.2px */

        @media (max-width: 500px) {
          font-size: 20px;
          text-align: center;
        }
      }

      .notification-subheading {
        margin-bottom: 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 500px) {
          flex-direction: column;
          gap: 20px;
        }

        .email-notification {
          display: flex;
          gap: 21px;
          align-items: center;

          p {
            color: #252525;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 130%; /* 20.8px */
          }
        }
        .notification-selector {
          display: flex;
          gap: 12px;

          p {
            color: var(--Primary-Sea-Blue);
            text-align: right;
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: 130%; /* 18.2px */
          }
        }
      }
      .notification-module-container {
        padding: 20px 25px 18px 20px;
        width: fit-content;
        height: fit-content;
        margin-bottom: 20px;
        flex-shrink: 0;
        border-radius: 8px;
        border: 1px solid rgba(112, 112, 112, 0.1);
        background: #fff;
        @media (max-width: 768px) {
          width: 100%;
        }
        @media (max-width: 500px) {
          border-radius: none;
          width: 100%;
          border-radius: 0;
          display: flex;
          flex-direction: column;
          margin-left: 30px;
          .notification-module {
            display: flex;
            flex-direction: column;
            align-items: center;

            justify-content: center;
          }
        }
        .notification-module {
          .module-title {
            color: #252525;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 130%; /* 20.8px */
          }
          .checkbox-module-list {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px 83px;
            margin-top: 20px;
            @media (max-width: 768px) {
              grid-template-columns: 1fr;
              gap: 20px 83px;
              margin-top: 20px;
            }
            .checkbox-item {
              display: flex;
              align-items: center;
              gap: 12px;
              white-space: nowrap;
            }
          }
        }
      }
      .app-notification-header {
        display: flex;
        gap: 22px;
        margin-top: 60px;
        align-items: center;

        @media (max-width: 500px) {
          justify-content: center;
        }
      }
      h2 {
        color: #252525;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 130%; /* 20.8px */
      }
      img {
        width: 24px;
        height: 24px;
        flex-shrink: 0;
      }
    }

    .app-notification-container {
      width: 100%;
      flex-shrink: 0;
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      border: 1px solid rgba(112, 112, 112, 0.1);
      background: #fff;
      gap: 22px;
      margin-top: 18px;
      padding: 20px 16px 39px 20px;
      @media (max-width: 500px) {
        margin-left: 30px;
      }

      .notification-container {
        display: flex;
        flex-direction: column;
        gap: 0;
        @media (max-width: 500px) {
          margin: auto;
          text-align: justify;
          width: 80vw;
        }
        .notification-header {
          display: flex;
          white-space: nowrap;
          justify-content: space-between;
          align-items: center;
          text-align: justify;

          @media (max-width: 500px) {
            white-space: wrap;
            display: flex;
            gap: 10px;

            p {
              width: 80%;
            }
          }

          p {
            color: #000;
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: 130%; /* 18.2px */
          }
        }
        .notification-text {
          width: 468px;
          color: #252525;
          font-size: 12px;
          font-style: normal;
          font-weight: 700;
          line-height: 130%; /* 15.6px */

          @media (max-width: 500px) {
            width: 80%;
          }
        }
      }
    }
  }

  /* -------tean section start ---------  */
  #team-section {
    padding-right: 50px;

    .team-header {
      color: #252525;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 130%; /* 31.2px */
      margin-bottom: 20px;
      margin-top: 100px;
    }
    .team-container-wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px 23px;
      @media (max-width: 500px) {
        grid-template-columns: 1fr;
        width: 70vw;
      }
      .team-container {
        width: 318px;
        height: 139px;
        display: flex;
        gap: 12px;
        padding: 12px 12px 20px 20px;
        flex-shrink: 0;
        border-radius: 8px;
        border: 1px solid rgba(112, 112, 112, 0.2);
        background: #fff;
        @media (max-width: 768px) {
          display: grid;
          grid-template-columns: 4fr 1fr;
          width: 100%;
          height: fit-content;
          padding: 20px 0px 0px 20px;
          .elipsis {
            grid-column: 2;
            grid-row: 1;
          }
        }
        .team-image {
          margin-top: 8px;
          width: 56px;
          height: 56px;
          flex-shrink: 0;
        }
        .team-member-details {
          margin-top: 13px;

          @media (max-width: 768px) {
            .member-email {
              display: none;
            }
          }

          h2 {
            color: #000;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 130%; /* 20.8px */
          }
          h3 {
            color: var(--Primary-Sea-Blue);
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: 130%; /* 18.2px */
            margin-bottom: 31px;
          }
          p {
            display: flex;
            gap: 8px;
            color: #000;
            font-size: 12px;
            font-style: normal;
            font-weight: 700;
            line-height: 130%; /* 15.6px */

            img {
              width: 16px;
              height: 16px;
              flex-shrink: 0;
            }
          }
        }
      }
    }
  }

  .add-member-container {
    margin-right: 50px;

    @media (max-width: 768px) {
      text-align: justify;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .invitation-header {
      color: #000;
      font-size: 16px;
      display: flex;
      gap: 22px;
      align-items: center;
      margin-top: 61px;
      margin-bottom: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: 130%; /* 20.8px */

      img {
        width: 24px;
        height: 24px;
        flex-shrink: 0;
      }
    }
    .invitation-description {
      color: #000;
      font-size: 12px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      width: fit-content;
      text-wrap: wrap;
      text-align: justify;

      @media (max-width: 768px) {
        display: flex;
        align-self: center;
        padding-left: 50px;
        padding-right: 50px;
      }
    }
    .invitation-btn {
      width: 133px;
      height: 40px;
      flex-shrink: 0;
      border-radius: 8px;
      background: var(--Primary-Sea-Blue);
      color: #fff;
      text-align: center;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin-top: 26px;
    }
  }
}

/* ----- Modal Section -----  */
/* ----edit profile modal -----  */

.modal {
  display: none;
  width: 100vw;
  z-index: 99;
  pointer-events: none;
  position: fixed;
  left: 0;
  top: 85px;
  justify-content: center;
  height: 100vh;
  overflow: scroll;
  background-color: rgba(0, 0, 0, 0.3);

  .edit-container {
    width: 532px;
    max-width: 100%;
    height: 692px;
    padding: 25px 40px 38px 40px;
    background: #fff;
    margin: 20px 0;
    border-radius: 8px;

    .heading-wrapper {
      display: flex;
      justify-content: space-between;
      text-align: center;
      align-items: center;
      margin-bottom: 40px;

      h1 {
        color: #252525;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 130%; /* 31.2px */
      }

      button {
        width: 24px;
        height: 24px;
        cursor: pointer;
      }
    }
    .profile-image-wrapper {
      position: relative;

      .profile-image {
        width: 182px;
        height: 182px;
        flex-shrink: 0;
        border-radius: 182px;
      }

      .camera {
        position: absolute;
        left: 134px;
        bottom: 4px;
        width: 44px;
        height: 44px;
        flex-shrink: 0;
        background-color: var(--Secondary-Pale-Green);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 24px;
          height: 24px;
          flex-shrink: 0;
        }
      }
    }
    .input-group-container {
      margin-top: 40px;
      width: 100%;

      .input-group {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 29px 20px;

        .input-field {
          position: relative;

          label {
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            background: #fff;
            color: gray;
            padding: 0 0.3rem;
            margin: 0 0.5rem;
            transition: 0.1s ease-out;
            transform-origin: left top;
            pointer-events: none;
          }

          input {
            font-size: 1rem;
            outline: none;
            width: 100%;
            height: 40px;
            flex-shrink: 0;
            border: 1px solid gray;
            border-radius: 5px;
            padding: 1rem 0.7rem;
            color: gray;
            transition: 0.1s ease-out;

            &:focus {
              border-color: var(--Secondary-Sky-Blue);
            }

            &:focus + label {
              color: #252525;
              font-size: 10px;
              font-style: normal;
              font-weight: 700;
              line-height: normal;
              top: 0;
              transform: translateY(-50%) scale(0.9);
            }

            &:not(:placeholder-shown) + label,
            &:not(:focus) ~ .input-field label {
              top: 0;
              transform: translateY(-50%) scale(0.9);
            }
          }

          &:last-child,
          &:nth-last-child(2) {
            grid-column: span 2;
          }
        }
      }
    }

    .container-button {
      margin-top: 40px;
      display: flex;
      gap: 20px;

      .btn-1 {
        width: 88px;
        height: 40px;
        flex-shrink: 0;
        border-radius: 8px;
        background: rgba(70, 194, 230, 0.15);
        outline: none;
        border: none;
        color: #2e279d;
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }
      .btn-2 {
        width: 152px;
        height: 40px;
        flex-shrink: 0;
        border-radius: 8px;
        background: var(--Primary-Sea-Blue);
        outline: none;
        border: none;
        color: #fff;
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }
    }
  }
}

.close {
  background: transparent;
}

.modal.show,
.edit-business-information.show {
  display: flex;
  pointer-events: auto;
  overflow-y: scroll;
  height: auto;
}

.close-icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

/* ------- Edit business Modal -----  */

.edit-business-information {
  display: none;
  width: 100vw;
  z-index: 99;
  position: fixed;
  height: auto;
  max-height: 100%;
  box-sizing: border-box;
  overflow: hidden;
  left: 50%;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3);
  top: 65px; /* Position at the top of the viewport */
  transform: translateX(-50%);

  .business-edit-container {
    width: 532px;
    display: block;
    max-width: 100%;
    padding: 25px 40px 80px 40px;
    background: #fff;
    margin: 20px 0;
    border-radius: 8px;
    z-index: 99;
    overflow-y: auto;
    box-sizing: border-box;

    .heading-wrapper {
      display: flex;
      justify-content: space-between;
      text-align: center;
      align-items: center;
      margin-bottom: 40px;
      h1 {
        color: #252525;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 130%; /* 31.2px */
      }
      img {
        background: transparent;
      }
    }
    .profile-image-wrapper {
      position: relative;

      img {
        width: 182px;
        height: 182px;
        flex-shrink: 0;
        border-radius: 50%;
      }

      .camera {
        position: absolute;
        left: 134px;
        bottom: 4px;
        width: 44px;
        height: 44px;
        flex-shrink: 0;
        background-color: var(--Secondary-Pale-Green);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 24px;
          height: 24px;
          flex-shrink: 0;
        }
      }
    }
    .input-group-container {
      margin-top: 40px;
      width: 100%;

      .business-input-group {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 29px 20px;

        .input-field {
          position: relative;

          label {
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            background: #fff;
            color: gray;
            padding: 0 0.3rem;
            margin: 0 0.5rem;
            transition: 0.1s ease-out;
            transform-origin: left top;
            pointer-events: none;
          }

          input {
            font-size: 1rem;
            outline: none;
            width: 100%;
            height: 40px;
            flex-shrink: 0;
            border: 1px solid gray;
            border-radius: 5px;
            padding: 1rem 0.7rem;
            color: gray;
            transition: 0.1s ease-out;

            &:focus {
              border-color: var(--Secondary-Sky-Blue);
            }

            &:focus + label {
              color: #252525;
              font-size: 10px;
              font-style: normal;
              font-weight: 700;
              line-height: normal;
              top: 0;
              transform: translateY(-50%) scale(0.9);
            }
            &::placeholder {
              color: #252525;
              font-size: 14px;
              font-style: normal;
              font-weight: 700;
              line-height: normal;
            }
            &:not(:placeholder-shown) + label,
            &:not(:focus) ~ .input-field label {
              top: 0;
              transform: translateY(-50%) scale(0.9);
            }
          }

          &:last-child,
          &:nth-last-child(2) {
            grid-column: span 2;
          }
        }

        .input-field.full-width {
          grid-column: 1/3;
        }
        .input-field.half-width {
          grid-column: span 1;
        }

        ::-webkit-scrollbar {
          display: none;
        }
      }
    }
    .container-button {
      margin-top: 40px;
      display: flex;
      gap: 20px;

      .btn-1 {
        width: 88px;
        height: 40px;
        flex-shrink: 0;
        border-radius: 8px;
        background: rgba(70, 194, 230, 0.15);
        outline: none;
        border: none;
        color: #2e279d;
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }
      .btn-2 {
        width: 152px;
        height: 40px;
        flex-shrink: 0;
        border-radius: 8px;
        background: var(--Primary-Sea-Blue);
        outline: none;
        border: none;
        color: #fff;
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }
    }
  }
}

/* -------Add Team Modal ------  */

.add-team-modal {
  display: none;
  width: 100vw;
  z-index: 99;
  pointer-events: none;
  position: fixed;
  left: 0;
  top: 85px;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.3);

  .add-team-container {
    width: 438px;
    height: fit-content;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 8px;
    background: #fff;
    padding: 25px 40px 58px 40px;

    .add-team-header {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 149px;
      margin-bottom: 64px;

      h1 {
        color: #252525;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 130%; /* 31.2px */
      }
      button {
        background: transparent;
      }
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 19px;

      .input-field {
        position: relative;

        img {
          position: absolute;
          right: 5%;
          top: 50%;
          transform: translateY(-50%);
          color: gray;
          padding: 0 0.3rem;
          margin: 0 0.5rem;
          transition: 0.1s ease-out;
          transform-origin: left top;
        }

        label {
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          background: #fff;
          color: gray;
          padding: 0 0.3rem;
          margin: 0 0.5rem;
          transition: 0.1s ease-out;
          transform-origin: left top;
          pointer-events: none;
        }

        input {
          font-size: 1rem;
          outline: none;
          width: 100%;
          height: 40px;
          flex-shrink: 0;
          border: 1px solid gray;
          border-radius: 5px;
          padding: 1rem 0.7rem;
          color: gray;
          transition: 0.1s ease-out;

          &:focus {
            border-color: var(--Secondary-Sky-Blue);
          }

          &:focus + label {
            color: #252525;
            font-size: 10px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            top: 0;
            transform: translateY(-50%) scale(0.9);
          }
          &::placeholder {
            color: #252525;
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
          }
          &:not(:placeholder-shown) + label,
          &:not(:focus) ~ .input-field label {
            top: 0;
            transform: translateY(-50%) scale(0.9);
          }
        }

        &:last-child,
        &:nth-last-child(2) {
          grid-column: span 2;
        }
      }

      button {
        width: 358px;
        height: 40px;
        flex-shrink: 0;
        border-radius: 8px;
        background: var(--Primary-Sea-Blue);
        color: #fff;
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
      .dropdown-container.show {
        display: block;
        background: #eff;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
        position: relative;
        bottom: 18px;
        padding: 10px;
      }
      .dropdown-container {
        width: 100%;
        display: none;

        ul {
          display: grid;
          grid-template-columns: repeat(2, 1fr); /* Creates two equal columns */
          gap: 5px;
          justify-content: space-between; /* Adjusts the horizontal spacing between grid items */
          list-style: none;
          padding: 5px 30px;
          margin: 0;
          justify-items: start;
          text-align: justify;

          li {
            &:hover {
              cursor: pointer;
            }
          }
          li:nth-child(2n) {
            justify-self: end; /* Aligns every second item to the end of its column */
          }
        }
      }
    }
  }
}

.add-team-modal.show {
  display: flex;
  pointer-events: auto;
  overflow-y: auto;
}
